@{
    ViewData["Title"] = "Home Page";
}

<h1>Complete ASP.NET Core and Entity Framework Development</h1>
<h4>Learn ASP.NET Core and Entity Framework by building and publishing a Leave Management System</h4>
<p><strong>Build a strong foundation in .NET Core programming:</strong><a href="https://docs.microsoft.com/aspnet/core"></a></p>
